<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base directory dynamically
    RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # Redirect all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ %{ENV:BASE}public/index.php [QSA,L]
</IfModule>